body {
  padding: 20px;
}

#StatusBar {
  margin-bottom: 20px;
}

h1 {
  display: inline;
  margin-right: 20px;
}

#Time {
  display: none;
}

#MainControls * {
  display: inline-block;
}

#MainControls #Instruments select,
#MainControls button {
  width: 200px;
  height: 30px;
}

.constant-group {
  display: inline-block;
  width: 300px;
  padding: 10px;
}

.constant {
  width: 100%;
}

.constant label {
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.constant .controls {
  width: 75%;
  margin-top: -8px;
  display: inline;
}

.constant input {
  display: inline;
}

.constant input[type="number"] {
  height: 20px;
  font-size: 12px;
  max-width: 50px;
  -moz-appearance: textfield;
}
.constant input[type="number"]::-webkit-outer-spin-button,
.constant input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.constant .slider {
  height: 12px;
  width: 120px;
}

.constant label {
  font-size: 14px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
