body {
  padding: 20px;
}

.constant-group {
  display: inline-block;
  width: 400px;
}

.constant {
  width: 400px;
}

.constant label {
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.constant .controls {
  width: 75%;
  margin-top: -8px;
  display: inline;
}

.constant input {
  display: inline;
}

.constant input[type="number"] {
  height: 20px;
  font-size: 12px;
  max-width: 50px;
}

.constant .slider {
  height: 12px;
}

.constant label {
  font-size: 14px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
